@font-face {
    font-family: 'MyCustomFont';
    src: url("../fonts/SF-Pro-Display-Regular.woff2") format('woff2'),
    url("../fonts/SF-Pro-Display-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Monaspace Neon';
    src: url("../fonts/MonaspaceNeon-Regular.woff2") format("woff2"),
    url("../fonts/MonaspaceNeon-Regular.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'MyCustomFont';
    margin: 30px;
    background-color: black;
    color: white;
}

a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}